In [21]:
%run ./Load_Wine_data.ipynb

Red (1599, 12)
White (4898, 12)
Total (6497, 13)

In [17]:
faixa_dinamica = pd.concat([df_total.min(),df_total.max()],axis =1)
faixa_dinamica.columns = ['Min','Max']
faixa_dinamica['Range'] =faixa_dinamica['Max'] - faixa_dinamica['Min']
faixa_dinamica

                          Min        Max      Range
fixed acidity         3.80000   15.90000   12.10000
volatile acidity      0.08000    1.58000    1.50000
citric acid           0.00000    1.66000    1.66000
residual sugar        0.60000   65.80000   65.20000
chlorides             0.00900    0.61100    0.60200
free sulfur dioxide   1.00000  289.00000  288.00000
total sulfur dioxide  6.00000  440.00000  434.00000
density               0.98711    1.03898    0.05187
pH                    2.72000    4.01000    1.29000
sulphates             0.22000    2.00000    1.78000
alcohol               8.00000   14.90000    6.90000
quality               3.00000    9.00000    6.00000
red                   0.00000    1.00000    1.00000

In [6]:
norm_col = df_total.columns[:len(df_total.columns)-2]
df_norm = df_total.copy()
norm_col

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol'],
      dtype='object')

In [10]:
for cname in norm_col:
    df_norm[cname] =  df_total[cname]-df_total.describe()[cname]['mean'] / df_total.describe()[cname]['std']

In [14]:
df_norm.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red
0,1.434496,-1.793127,-1.832664,19.555935,-1.554432,43.280206,167.952216,-330.711272,-17.017146,-3.12021,0.003406,6,0
1,0.734496,-1.763127,-1.852664,0.455935,-1.550432,12.280206,129.952216,-330.718272,-16.717146,-3.08021,0.703406,6,0
2,2.534496,-1.783127,-1.792664,5.755935,-1.549432,28.280206,94.952216,-330.717172,-16.757146,-3.13021,1.303406,6,0
3,1.634496,-1.833127,-1.872664,7.355935,-1.541432,45.280206,183.952216,-330.716672,-16.827146,-3.17021,1.103406,6,0
4,1.634496,-1.833127,-1.872664,7.355935,-1.541432,45.280206,183.952216,-330.716672,-16.827146,-3.17021,1.103406,6,0

In [18]:
faixa_dinamica = pd.concat([df_norm.min(),df_total.max()],axis =1)
faixa_dinamica.columns = ['Min','Max']
faixa_dinamica['Range'] =faixa_dinamica['Max'] - faixa_dinamica['Min']
faixa_dinamica

                             Min        Max       Range
fixed acidity          -1.765504   15.90000   17.665504
volatile acidity       -1.983127    1.58000    3.563127
citric acid            -2.192664    1.66000    3.852664
residual sugar         -0.544065   65.80000   66.344065
chlorides              -1.590432    0.61100    2.201432
free sulfur dioxide    -0.719794  289.00000  289.719794
total sulfur dioxide    3.952216  440.00000  436.047784
density              -330.725162    1.03898  331.764142
pH                    -17.297146    4.01000   21.307146
sulphates              -3.350210    2.00000    5.350210
alcohol                -0.796594   14.90000   15.696594
quality                 3.000000    9.00000    6.000000
red                     0.000000    1.00000    1.000000